.u-section-1 {
  background-image: url("images/471786_professional-background-images-for-websites-all-wallpapers-new_1920x1237_h.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 139px 529px 0 416px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 48px 0 0 416px;
}

.u-section-1 .u-image-1 {
  width: 457px;
  height: 457px;
  animation-duration: 1000ms;
  margin: -217px auto 0 -67px;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: 236px 416px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 194px;
    margin-right: 288px;
    margin-left: 457px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 139px;
    margin-left: 470px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -246px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 330px;
    margin-right: 216px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 249px;
    margin-right: 165px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 84px;
    margin-left: 360px;
  }

  .u-section-1 .u-image-1 {
    width: 345px;
    height: 345px;
    margin-top: -345px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 165px;
    margin-right: 360px;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 75px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-1 .u-image-1 {
    width: 260px;
    height: 260px;
    margin-top: -335px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 135px;
    margin-right: 270px;
    margin-bottom: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 145px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: -20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 186px;
    height: 186px;
    margin-top: -433px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 298px;
    margin-right: 145px;
    margin-bottom: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 464px;
}

.u-section-2 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 390px;
    margin-right: -50px;
    margin-bottom: 34px;
    margin-left: auto;
  }
}.u-section-3 {
  background-image: url("images/471786_professional-background-images-for-websites-all-wallpapers-new_1920x1237_h.jpg?rand=cf82");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 20px 918px 0 0;
}

.u-section-3 .u-image-1 {
  width: 336px;
  height: 336px;
  background-image: url("images/download.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -272px 108px 0 391px;
}

.u-section-3 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1.875rem;
  margin: -114px 39px 0 391px;
}

.u-section-3 .u-text-4 {
  animation-duration: 1000ms;
  margin: 292px 430px 0 0;
}

.u-section-3 .u-text-5 {
  margin: -98px 96px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 78px 170px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 97px 60px -1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-right: 718px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -246px;
    margin-right: -345px;
    margin-left: 345px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -112px;
    margin-right: 9px;
    margin-left: 336px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 355px;
    margin-right: 230px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -23px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin: 53px 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 498px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -271px;
    margin-right: -336px;
    margin-left: 336px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -135px;
    margin-right: -140px;
    margin-left: 265px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 424px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -25px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 318px;
  }

  .u-section-3 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -123px;
    margin-right: 0;
    margin-left: 270px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 64px;
    margin-left: 244px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 159px;
    margin-right: 13px;
    margin-left: -12px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -120px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 108px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -66px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 118px;
  }

  .u-section-3 .u-image-1 {
    width: 163px;
    height: 163px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -50px;
    margin-right: -20px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -183px;
    margin-right: -62px;
    margin-left: 170px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 164px;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -86px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 76px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -52px;
  }
}